<div class="sidebar-content">
  <div class="sidebar__image">
    <div></div>
  </div>
  <div class="sidebar__descriptions">
    <div class="sidebar__descriptions__title">
      <span>Roboto-Medium 20px</span>
    </div>
    <div class="sidebar__descriptions__subtitle">
      <span>roboto-regular 14px</span>
    </div>
  </div>
  <div style="max-height:500px; min-height: 480px; overflow: auto; margin-top: 10px;">
    <nav>
      <a>
        <li class="li__home" [routerLink]="['/home']" [routerLinkActive]="['is-active']" >

          <div class="img-home"></div>
          <div style="padding-left:57px ;">
            <span> Teste Audaces </span>
          </div>
        </li>
      </a>
      <a>
        <li class="li__exemplo1" [routerLink]="['/item1']" [routerLinkActive]="['is-active']">

          <div></div>
          <div style="padding-left:57px ;">
            <span>Exemplo1</span>
          </div>
          </li>
      </a>
      <a>
        <li  class="li__exemplo2" [routerLink]="['/item2']" [routerLinkActive]="['is-active']">
          <div></div>
          <div style="padding-left:57px ;">
            <span>Exemplo2</span>
          </div>
      </a>
      <a>
        <li  class="li__exemplo3" [routerLink]="['/item3']" [routerLinkActive]="['is-active']">
          <div></div>
          <div style="padding-left:57px ;">
            <span>Exemplo3</span>
          </div>
      </a>

    </nav>
  </div>
  <div class="">
    <nav>
      <a (click)="trocarTema()">
        <li class="li__exemplo4">
          <div></div>
          <div style="padding-left:57px ;">
            <span> Trocar de tema </span>
          </div>
         </li>
      </a>
      <a>
        <li class="li__exemplo5">
          <div></div>
          <div style="padding-left:57px ;">
            <span> Username </span>
          </div>
        </li>
      </a>
    </nav>

  </div>

</div>
