<div class="formulario__content">
  <div class="formulario__content__colun">
    <div class=" formulario__content__colun__form">
    </div>
    <div  class="formulario__content__colun__comb">
    </div>
    <!-- //=KC -->
    <div class="formulario__content__colun__imgs">
      <div class="formulario__content__colun__imgs__contact">
      </div>
      <div  class="formulario__content__colun__imgs__social" >
      </div>
    </div>


  </div>
  <div class="formulario__content__colun__img">
    <div class="formulario__content__colun__img__fundo">
    </div>
  </div>
</div>
