@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.margin-input {
  margin-right: 15px;
  min-width: 92px
}

//theme-normal
.theme-normal {
  background-color: #fff !important;

  @import './scss/claro.scss';
}

//dark-theme
.dark-theme {

  background-color: #292929 !important;
  @import './scss/escuro.scss';

}
