$color-input: #EAEAEA;
$color-input-text: #000000;
$color-retangulo: #FFFFFF;
$color-text-menu: #000000;
$color-fundo-menu-hover: #FFB7D91F;
$color-text-menu-hover: #ff0077;
$color-button-border: #E63A8A;
$color-text-field: #000000;
$color-text-field-img: #fff;
$color-fundo-imagens: rgba(0, 0, 0, 0.35);
$logo-imagem:url(./../assets/logo/claro/Audaces_logo.png);
$logo-sidebar-home:url(./../assets/sidebar/claro/Home.png);
$logo-sidebar-placeHolder1:url(./../assets/sidebar/claro/placeholder1.png);
$logo-sidebar-placeHolder2:url(./../assets/sidebar/claro/placeholder2.png);
$logo-sidebar-placeHolder3:url(./../assets/sidebar/claro/placeholder3.png);
$logo-sidebar-theme:url(./../assets/sidebar/claro/theme.png);
$logo-sidebar-user:url(./../assets/sidebar/claro/username.png);
$logo-sidebar-add:url(./../assets/icons/claro/Add_24px.png);


.img-placeHolder1 {
  background-image: $logo-sidebar-placeHolder1;
  background-repeat: no-repeat;
}

.img-placeHolder2 {
  background-image: $logo-sidebar-placeHolder2;
  background-repeat: no-repeat;
}

.img-placeHolder3 {
  background-image: $logo-sidebar-placeHolder3;
  background-repeat: no-repeat;
}

.img-theme {
  background-image: $logo-sidebar-theme;
  background-repeat: no-repeat;
}

.img-user {
  background-image: $logo-sidebar-user;
  background-repeat: no-repeat;
}

.sidebar-content {
  min-width: 256px;
  max-width: 256px;
  background-color: $color-retangulo;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);

  .sidebar__image {
    padding-left: 19px;
    padding-top: 43px;

    div {
      background-image: $logo-imagem;
      background-repeat: no-repeat;
      height: 40px;
    }
  }

  .sidebar__descriptions {
    padding-left: 19px;
    padding-top: 34px;

    .sidebar__descriptions__title {
      span {
        text-align: left;
        font-size: 18px;
        letter-spacing: 0.15px;
        color: $color-text-field;
        opacity: 1;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
      }
    }

    .sidebar__descriptions__subtitle {
      span {
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 0.25px;
        color: $color-text-menu;
        opacity: 1;
      }
    }
  }


  .li__home {
    padding-left: 19px;
    list-style-type: none;
    height: 48px;
    font: 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: $color-text-menu;
    display: flex;
    align-items: center;

    div {
      background-image: $logo-sidebar-home;
      background-repeat: no-repeat;
    }
  }

  .li__exemplo1 {
    padding-left: 19px;
    list-style-type: none;
    height: 48px;
    font: 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: $color-text-menu;
    display: flex;
    align-items: center;

    div {
      background-image: $logo-sidebar-placeHolder1;
      background-repeat: no-repeat;
    }
  }

  .li__exemplo2 {
    padding-left: 19px;
    list-style-type: none;
    height: 48px;
    font: 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: $color-text-menu;
    display: flex;
    align-items: center;

    div {
      background-image: $logo-sidebar-placeHolder2;
      background-repeat: no-repeat;
    }
  }

  .li__exemplo3 {
    padding-left: 19px;
    list-style-type: none;
    height: 48px;
    font: 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: $color-text-menu;
    display: flex;
    align-items: center;

    div {
      background-image: $logo-sidebar-placeHolder3;
      background-repeat: no-repeat;
    }
  }

  .li__exemplo4 {
    padding-left: 19px;
    list-style-type: none;
    height: 48px;
    font: 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: $color-text-menu;
    display: flex;
    align-items: center;

    div {
      background-image: $logo-sidebar-theme;
      background-repeat: no-repeat;
    }
  }

  .li__exemplo5 {
    padding-left: 19px;
    list-style-type: none;
    height: 48px;
    font: 14px/24px Roboto;
    letter-spacing: 0.1px;
    color: $color-text-menu;
    display: flex;
    align-items: center;

    div {
      background-image: $logo-sidebar-user;
      background-repeat: no-repeat;
    }
  }

  li:hover {
    background-color: $color-fundo-menu-hover;
    color: $color-text-menu-hover;
    cursor: pointer;
  }

  .is-active {
    background-color: $color-fundo-menu-hover;
    color: $color-text-menu-hover;
  }
}

.btn-primary:hover {
  color: $color-input  !important;
  background-color: $color-text-menu-hover  !important;
  border-color: $color-button-border  !important;
}

.btn-primary {
  color: $color-input  !important;
  background-color: $color-button-border  !important;
  border-color: $color-text-menu-hover  !important;
}

.btn-defau {
  color: $color-input-text  !important;
}

.formulario__content {
  display: grid;
  grid-template-columns: 30fr 10fr;

  @media (max-width: 1353px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 100%;
    padding-right: 25px;
  }
  @media (min-width: 1354px) {
    display: grid;
    grid-template-columns: 50fr 10fr;

    flex: 100%;
    padding-right: 25px;
  }

  .formulario__content__colun {
    width: 100%;

    .formulario__content__colun__form {
      margin-top: 40px;
      margin-left: 25px;
      border-radius: 4px;
      background-color: $color-retangulo;
      box-shadow: 0px 3px 6px #00000029;
    }

    .formulario__content__colun__comb {
      // height: 152px;
      padding-bottom: 12px;
      margin-top: 25px;
      margin-left: 25px;
      border-radius: 4px;
      background-color: $color-retangulo;
      box-shadow: 0px 3px 6px #00000029;
    }

    .formulario__content__colun__imgs {
      display: grid;
      grid-template-columns: 50fr 50fr;
      justify-content: space-evenly;

      @media (max-width: 1145px) {
        grid-template-columns: 100%;
      }

      .formulario__content__colun__imgs__contact {
        margin-top: 25px;
        margin-left: 25px;
        background-color: $color-retangulo; // variavel de fundo
        box-shadow: 0px 3px 6px #00000029;

        .imgs__contact {
          .img__content {
            position: relative;
            top: -110px;
            display: flex;

            .imgs__contact__description {
              position: absolute;
              padding-bottom: 44px;

              span {
                font-size: 41px;
                color: $color-text-field-img;
                padding-left: 20px;
                font-weight: 600;
                letter-spacing: 3.48px;
              }
            }

            .imgs__contact__description__contact {
              position: absolute;
              padding-bottom: 44px;

              .imgs__contact__description__contact__sub {
                position: relative;
                top: 40px;

                span {
                  font-size: 41px;
                  color: $color-text-field-img;
                  padding-left: 20px;
                  font-weight: 600;
                  letter-spacing: 3.48px;
                }
              }
            }
          }


          .imagem {
            img {
              opacity: 0.7;
              width: 100%;
            }
          }
        }
      }

      .formulario__content__colun__imgs__social {
        margin-top: 25px;
        margin-left: 25px;
        background-color: $color-retangulo; // variavel de fundo
        box-shadow: 0px 3px 6px #00000029;

        .redes__social {
          .redes__content {
            display: flex;
            width: 100%;
            position: relative;
            top: -110px;

            @media (min-width: 1350px) {
              position: relative;
              top: -210px;
            }

            .redes__social__position {
              position: absolute;

              span {
                font-size: 41px;
                color: $color-text-field-img;
                padding-left: 20px;
                font-weight: 600;
                letter-spacing: 3.48px;
              }

              .redes__social__position__top {
                position: relative;
                top: 40px;

                span {
                  font-size: 41px;
                  color: $color-text-field-img;
                  padding-left: 20px;
                  font-weight: 600;
                  letter-spacing: 3.48px;
                }
              }
            }
          }

          .imagem {
            img {
              opacity: 0.7;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .formulario__content__colun__img {
    width: 100%;

    .formulario__content__colun__img__fundo {
      margin-top: 40px;
      margin-left: 25px;
      background-color: $color-retangulo;
      box-shadow: 0px 3px 6px #00000029;

      .colun {
        .colun__content {
          position: relative;
          bottom: 410px;
          display: flex;
          justify-content: center;

          .colun__position__example {
            position: absolute;

            span {
              font-size: 20px;
              color: $color-text-field-img;
              font-weight: 600;
              letter-spacing: 3.48px;
            }

            .colun__position__top__exemple {
              position: relative;
              top: 90px;

              span {
                font-size: 20px;
                color: $color-text-field-img;
                letter-spacing: 3.48px;
              }
            }
          }
          .colun__position {
            position: absolute;

            span {
              font-size: 41px;
              color: $color-text-field-img;
              font-weight: 600;
              letter-spacing: 3.48px;

            }

            .colun__position__top {
              position: relative;
              top: 40px;

              span {
                font-size: 41px;
                color: $color-text-field-img;
                font-weight: 600;
                letter-spacing: 3.48px;
              }
            }
          }
        }

        .imagem {
          img {
            opacity: 0.7;
            width: 100%;
            height: 738px;
          }
        }
      }
    }
  }
}

.span__title__field {
  color: $color-text-field;
  font-weight: 700;
}

.field__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px;

  .field__content__item {
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      padding-left: 1px;
      color: $color-text-field;
      margin-right: 15px;
    }
  }

  @media (max-width: 1150px) {
    .field__content__item__input {
      flex: 100%;
    }
  }

  .field__content__item__input {
    width: 126px;
    height: 56px;
    margin-right: 15px;
  }

  .field__content__item__button__add {
    width: 56px;
    height: 56px;
    background-color: $color-input;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      background-image: $logo-sidebar-add;
      background-repeat: no-repeat;
      z-index: 100000000000000;
      height: 24px;
      width: 27px;
    }
  }
}

.field__content__item__target {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;

  .field__content__item__target__label {
    min-width: 92px;
    height: 56px;
    display: flex;
    align-items: center;

    span {
      padding-left: 1px;
      color: $color-text-field;
      margin-right: 15px;
    }
  }

  .field__content__item__target__input {
    width: 126px;
    height: 56px;
    margin-right: 15px;
  }
}

.field__content__button {
  display: flex;
  justify-content: flex-end;
  margin-top: 36px;
  margin-right: 19px;
  padding-bottom: 36px;
  div {
    margin-right: 16px
  }

  div {
    margin-left: 16px;
  }

  @media (max-width: 763px) {

    flex-direction: row;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
    flex: 100%;

    div {
      margin-right: 16px;
      width: 100%;
    }

    div {
      margin-left: 16px;
    }

    .btn {
      width: 100% !important;
    }
  }
}


input {
  border: 0.2rem solid $color-retangulo;
  font-size: 16px;
  color: $color-text-menu;
  border-radius: 0.5rem;
  background: $color-input;
  width: 100%;
  height: 100%;
  padding-top: 13px;
  padding-left: 8px;
}

input:focus {
  outline: none;
}

label {
  padding-left: 11px;
  position: relative;
  font-size: 14px;
  top: -97%;
  color: $color-text-menu;
  pointer-events: none;
}

.olho {
  display: flex;
  justify-content: end;
  align-items: center;

  .olho__img {
    padding: 10px;
    margin-top: 70px;
    margin-right: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-input;
    border-radius: 50px;
    z-index: 10;
  }
}

.bg-light{
  background-color: $color-retangulo !important;
  color:white !important;
}

.navbar-light .navbar-nav .nav-link {
  color:$color-input-text !important;
}

.nav__img{
  width: 20px;
  padding-right: 40px;
  background-image:($logo-sidebar-home);
  background-repeat: no-repeat;
}
.nav__img-1{
  width: 20px;
  padding-right: 40px;
  background-image:($logo-sidebar-placeHolder1);
  background-repeat: no-repeat;
}
.nav__img-2{
  width: 20px;
  padding-right: 40px;
  background-image:($logo-sidebar-placeHolder2);
  background-repeat: no-repeat;
}
.nav__img-3{
  width: 20px;
  padding-right: 40px;
  background-image:($logo-sidebar-placeHolder3);
  background-repeat: no-repeat;
}
.nav__img-4{
  width: 20px;
  padding-right: 40px;
  background-image:($logo-sidebar-theme);
  background-repeat: no-repeat;
}
.nav__img-5{
  width: 20px;
  padding-right: 40px;
  background-image:($logo-sidebar-user);
  background-repeat: no-repeat;
}

.logo{
  width: 179px;
  height: 33px;
  padding-right: 40px;
  background-image:($logo-imagem);
  background-repeat: no-repeat;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: end;
  padding-left: 11px;
}

.swal2-popup {
  background-color: $color-input !important;
  color: $color-input-text !important;
}
